# Node modules
node_modules/
package-lock.json/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
build/
dist/

# Dependency directories
.DS_Store
.env
.env.local
.env.development
.env.production
.env.test
.cache/
.vscode/
.idea/

# Coverage files
coverage/

# Miscellaneous
*.lock
*.swp
*.swo
*.bak

# Local development tools
/.firebase/
*.iml
*.pyc
